.bg-white{
    background-color:white;
}
.prev-img{
    height: 300px;
    width: 300px;
}
.mt-row-profile{
    margin-top: 7px;
}
.kbw-signature { 
    width: 100%; 
    height: 180px;}
#signaturePad canvas{
    width: 100% !important;
    height: auto;
}

/*js+user */
.dropdown{}
.dropdown-toggle,
.dropdown-menu {
    text-align: center;
    min-width: 5rem;
    margin-top: -60px ;
    margin-right:90px ;
}

a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* js+dashboard*/
input[type="checkbox"] {
	display:none;
}
input[type="checkbox"]:checked ~ .modal-dashboard,
input[type="checkbox"]:checked ~ .modal-bg-dashboard {
	display: block;
}
.modal-bg-dashboard {
	width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9998;
}
.modal-dashboard {
    position: fixed;
    top: 0;
    left: -20px;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;	
    width: 1111px;
    height: 300px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 9999;
}
.modal-dashboard > p {
	  padding: 15px;
    margin: 0;
}
.modal-header-dashboard {
    padding: 0 0 !important;
	  background-color: #f9f9f9;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    height: 50px;
}
.modal-header-dashboard h3 {
	  margin: 0;
    box-sizing: border-box;
    padding-left: 15px;
    line-height: 50px;
    color: #4d4d4d;
    font-size: 16px;
    display: inline-block;
}
.modal-header-dashboard label {
	box-sizing: border-box;
    border-left: 1px solid #dddddd;
    float: right;
    line-height: 50px;
    padding: 0 15px 0 15px;
    cursor: pointer;
}
.modal-header-dashboard label:hover img {
	opacity: 0.6;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }